{% extends "layout.html.twig" %}
{% block content %}
    <div id="trick-list" class="container-fluid col-12 scroll-page d-flex justify-content-around flex-wrap">
        <div class="card col-12 col-sm-9 col-lg-7 col-xl-7 mt-3 text-center">
            {% set firstTrickImage = trick.trickImages|first %}
            <div class="card col-12">
                <img class="card-img-top read-trick-image" src="{{asset('upload/'~ firstTrickImage.name)}}" alt="Card image cap">
                 <h5 class="trick-title">{{trick.name}}</h5>
            </div>
            <div class="container show-trick-asset-container col-12 mt-3 text-center">
                <button type="button" class="btn btn-primary m-auto show-trick-asset">Voir les médias</button>
                <button type="button" class="btn btn-primary m-auto hide-trick-asset">Cacher les médias</button>
            </div>
            <div class="container col-12 trick-asset-container justify-content-around flex-wrap mt-3">
                {% for trickImage in trick.trickImages %}
                    {% if loop.index > 1 %}
                        <div class="col-12 col-sm-5 col-lg-3 col-xl-3 m-1">
                            <img class="card-img-top trick-card-img" src="{{asset('upload/'~ trickImage.name)}}" alt="Card image cap">
                        </div>
                    {% endif %}
                {% endfor %}
                {% for trickVideo in trick.trickVideos %}
                    <div class="col-12 col-sm-5 col-lg-3 col-xl-3 m-1">
                        <embed class="card-img-top w-100" type="video/webm" src="{{trickVideo.link}}"/>
                    </div>
                {% endfor %}
            </div>
            <div class="col-8 m-auto border-top border-dark mt-3 mb-3"></div>
            <div class="card-body">
                <span>{{trick.description}}</span>
            </div>
            <div class="col-8 m-auto border-top border-dark mt-3 mb-3"></div>
            {% include 'comment/comment.html.twig' %}
        </div>
    </div>
{% endblock %}
